/* Reset básico */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #666;
    text-align: center;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 700px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2, h3 {
    color: #007BFF;
    margin-bottom: 15px;
}

/* Enlaces */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="password"] {
    
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */
button {
    background: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}

/* Lista de tareas */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mensajes */
p {
    margin: 10px 0;
    font-weight: bold;
}

.label-form {
    color: #333;
}